<!doctype html>
<html data-ng-app="post">
	<head>
		<title>Create Post with File Upload</title>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
    	<script src="post.js"></script>
	</head>

	<body>
		
		<div data-ng-controller="UploadController">
			<pre>{{list}}</pre>
			<p>
				<br/>
				<a href="/view/posts.html">Show All Posts</a>
				<br/>
			</p>
			<p>Title: <input type="text" data-ng-model="title"></p>
			<p>Description: <input type="text" data-ng-model="description"></p>
			<p><input type="file" data-custom-file-model="myFile" /></p>
			<p><button data-ng-click="uploadFile()">Upload</button></p>
		</div>
	</body>
</html>