<!doctype html>
<html data-ng-app="post">
	<head>
		<META HTTP-EQUIV="Pragma" CONTENT="no-cache">
		<title>My Posts</title>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
    	<script src="post.js"></script>
	</head>

	<body >
		<p>
			<br/>
			<a href="/view/postupload.html" > <button><font size="4">Add Post</font></button></a>
			<br/>
			<br/>
		</p>
		
		<hr width="800" align="left" />		
		
		<div data-ng-controller="Post">
			<div data-ng-repeat="post in posts">
			
				<p>
					<u><b><font size="10"> 
						{{post.title}} - {{post.id}}
					</font></b></u>
				</p> 
				<p><font size="5">{{post.description}}</font></p>
				<br/>					
				<img data-ng-src="data:image/JPEG;base64,{{post.media}}" width="800" height="600" >
					<!-- 1200 630 --- 3264,2448, 600 and 450 or 75% -->
				<br/>
				<br/>
				<br/>
				<hr width="800" align="left" />		
			</div>
		</div>

	<!-- 	
		<div data-ng-controller="Post">
			<table border="1">
				<tr>
					<th>ID</th>
					<th>Title</th>
					<th>Description</th>
					<th>Date</th>
					<th>Media</th>
				</tr>
				<tr data-ng-repeat="post in posts">
					<td> {{post.id}}</td>
					<td> {{post.title}}</td>
					<td> {{post.description}}</td>
					<td> {{post.createdDateTime}}</td>
					<td> <img data-ng-src="data:image/JPEG;base64,{{post.media}}" width="800" height="600" ></td>
				</tr>
			</table>
			<br />
		</div>
	-->
	</body>
</html>